---
---
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" type="text/css" media="all" href="somafm.css" />
<script src="somafm.js"></script>

<body onload="StartClock();update_playlist()">

<div class="topbar">
<table id="titleArea" cellspacing="0" cellpadding="0" width="100%" style="cursor: arrow;">
	<tr valign="bottom">
		<td valign=middle>
<div style="margin: 10px 10px;" class="nowplaying">NOW PLAYING <span id="nowplaying" style="font-weight: 100">&nbsp;</span></div>
<div style="margin: 10px 10px;"><span onclick="pl_stop();" style="display: inline-block; font: 12pt 'Segoe UI', 'Helvetica Neue'; color: white; padding: 3pt 10pt; background-color: steelblue; cursor: hand; text-align: center;">&#x25a0;<br/>STOP</span></div>

		</td>
		<td id="theClock" width="250" align="right">
			<div id="clockTime">&nbsp;</div>
			<div id="clockDate">&nbsp;</div>
		</td>
	</tr>
</table>
</div>

<div class="content">

<div id="playtree">&nbsp;</div>

<p><a href="rnet.html">RNet Controller</a></p>

<div>

{% assign month = "now" | date: "%b" %}

{% for station in site.data.stations %}
	{% if station.title contains "Christmas" and month != "Dec" %}
		{% continue %}
	{% endif %}
	
	<div class="newstation">
		<div><img onclick="in_play('{{station.stream}}');" src="{{station.image}}"/></div>
		<div class="newtitle">{{station.title}}</div>
	</div>
{% endfor %}

<!--
<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/world.pls');" src="/skyfm/world.png" alt="World Music" /></div>
<div class="newtitle">World Music</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/classical.pls');" src="/skyfm/classical.png" alt="Mostly Classical" /></div>
<div class="newtitle">Mostly Classical</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/solopiano.pls');" src="/skyfm/solopiano.png" alt="Solo Piano" /></div>
<div class="newtitle">Solo Piano</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/newage.pls');" src="/skyfm/newage.png" alt="New Age" /></div>
<div class="newtitle">New Age</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/vocalnewage.pls');" src="/skyfm/vocalnewage.png" alt="Vocal New Age" /></div>
<div class="newtitle">Vocal New Age</div>
</div>
-->

<!--
<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/relaxation.pls');" src="/skyfm/relaxation.png" alt="Relaxation" /></div>
<div class="newtitle">Relaxation</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/dreamscapes.pls');" src="/skyfm/dreamscapes.png" alt="Dreamscapes" /></div>
<div class="newtitle">Dreamscapes</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/the80s.pls');" src="/skyfm/the80s.png" alt="Best of the 80s" /></div>
<div class="newtitle">Best of the 80's</div>
</div>
-->

<!--
<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/rootsreggae.pls');" src="/skyfm/rootsreggae.png" alt="Roots Reggae" /></div>
<div class="newtitle">Roots Reggae</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/datempolounge.pls');" src="/skyfm/datempolounge.png" alt="DaTempo Lounge" /></div>
<div class="newtitle">DaTempo Lounge</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/modernblues.pls');" src="/skyfm/modernblues.png" alt="Modern Blues" /></div>
<div class="newtitle">Modern Blues</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/salsa.pls');" src="/skyfm/salsa.png" alt="Salsa" /></div>
<div class="newtitle">Salsa</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/guitar.pls');" src="/skyfm/guitar.png" alt="Classical Guitar" />></div>
<div class="newtitle">Classical Guitar</div>
</div>
-->

<!--
<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/jazzclassics.pls');" src="/skyfm/jazzclassics.png" alt="Jazz Classics" /></div>
<div class="newtitle">Jazz Classics</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/smoothjazz.pls');" src="/skyfm/smoothjazz.png" alt="Smooth Jazz" /></div>
<div class="newtitle">Smooth Jaz</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/uptemposmoothjazz.pls');" src="/skyfm/uptemposmoothjazz.png" alt="Uptempo Smooth Jazz" /></div>
<div class="newtitle">Uptempo Smooth Jazz</div>
</div>

<div class="newstation">
<div><img onclick="in_play('http://www.sky.fm/aacplus/pianojazz.pls');" src="/skyfm/pianojazz.png" alt="Piano Jazz" /></div>
<div class="newtitle">Piano Jazz</div>
</div>
-->

</div>


<p id="wx"><a target="_blank" href="http://www.wunderground.com/US/WA/Woodinville.html?bannertypeclick=big2"><img src="http://weathersticker.wunderground.com/weathersticker/big2_cond/language/www/US/WA/Woodinville.gif" alt="Click for Woodinville, Washington Forecast" border="0" height="60" width="468" /></a></p>


</div>
</body>